*{
    margin: 0 ;
    padding:0;
    box-sizing: border-box ; }

 .font-litle{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto}

header{
    background-color: white;
}
nav {
    width: 100%;
    max-width:1600px;
    /* border: 1px solid rebeccapurple; */
    /* margin: 0px auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo-img{
    width: 139px;
    height: 60px;
    margin-left: 120px;
    margin-top: 16px ;
    margin-bottom: 16px;
}
nav .menu{display: flex;
    list-style: none;
    gap: 32px;
    

}
nav .menu a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    align-items: center;
}
.btn{ width: 164px;
      height: 44px ;
     background-color: #30B868;
     border: none;
     border-radius: 4px;
     padding: 12.5px 16px;
     margin-right: 120px;
     margin-top: 24px;
     margin-bottom: 24px;
     font-size: 16px;
     font-weight: 600;
     color: white;
     cursor: pointer;
     
    
}


#banner{
     /* border: 1px solid red */
    width: 1600px;
    height: 674px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
#banner{
    background-image: url('../Images/assets/hero-bg.png');
    width:100%;
    height: 674px;
    
}
#banner .banner-content .early-access-btn{ 
    text-align: center;
    border: none;
    color: #30B868;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border-radius: 16px;
    height: 35px;
    width:229px;
    padding: 8px 12px ;
    display: block;
    
    
    
}
 .early-access-btn .arrow{
    position: left;
    height: auto;
    
 }
.banner-content{
    text-align: center;
    padding-top: 115.5px;
    padding-left: 120px;
    justify-items: center;
    max-width: 1360px;
    max-height: 295px;
}
.banner-container{
    text-align: center;
}
.hero-tittle{ 
    font-weight: 700;
    text-align: center;
    
    font-size: 80px;
    font-weight: bolder;
    color: #FFFFFF;
    

}
.banner-container h1 span{
    color: #30B868;
    display: block;
    font-weight: bold;
}
.banner-content .banner-container p{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
    width:1360px;
}
.banner-content .banner-container .btn1{
    background-color: #30B868;
    width: 251px;
    height: 52px;
    gap: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    align-items: center;
    padding: 12px 20px;
    border:none;
    cursor: pointer;
    
}
 .btn1 .arrow{
    height: auto;
    position: absolute;
 }

    
    
 
 
   #card{
          padding-top:  40px }                    
                       


 
 .card-heading{
    margin: 0 auto;
 }
 #card .card-heading h1{ font-size: 48px;
                           font-weight: bolder;
                           color: #001931;
                           text-align: center;
                            gap :16px;
                        margin:0 auto}
#card .card-heading p{ 
                       font-size: 16px;
                       color: #677382;
                       text-align: center;
                       margin-top: 16px;
}

 
.card-01{
  background: #ffffff;   
  padding: 40px 24px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  width: 322px;
  height: 300px;

}



  

.card-01 img{
  background: #f95555;
  padding: 16px;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(249, 85, 85, 0.4);
}
.card-info{
  
 width:1360px;
  gap: 24px;
  margin-top: 44px;
  display: flex;
  justify-content: center;
  margin-left: 120px;
  margin-right: 120px;
  
  text-align: center;
}
.card-info .card-01{
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 69.5px;
    text-align: center;
    /* border: 1px solid red; */
    max-width: 322px;

}
.card-info .card-01 img{
    max-width: 60px;
    
}
.card-01 h3{
    font-size: 24px;
    color: #001931;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 16px;
}
.card-01 p{
    margin-bottom: 69.5px;
    margin-top: 16px;
    font-size: 16px;
    color: #677382;
    line-height: 20px;

}
